*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: rgb(3, 3, 46);
    height:50px;

}
.header navebar{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:rgb(3,3,46);
}
.header navebar li a{
    background-color: orange;
    color: white;
}
#navebar li{
    display: inline-flex;
}

.english {
    width: 100%;
    background-color: rgb(3, 3, 46);
    color: white;
}

.hindi {
    width: 90%;
    background-color: rgb(3, 3, 46);
    color: white;
}

.web{
    width: 75%;
    background-color: rgb(3, 3, 46);
    color: white;
}

.aptitude {
    width: 65%;
    background-color: rgb(3, 3, 46);
    color: white;
}